body, html{
  height:100%;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

a,p,li{
  line-height: 21px;
  font-size: 17px;
  font-family: 'PT Serif', serif;
}

header, footer{
  background-color: rgb(59,140,37);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(59,140,37);
}

.title h2{
  margin:0;
}

.chartContainer{
  background: #1a1a1a;
  margin:0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.chartContainer p{
  color:ivory;
  text-align: center;
  margin-top: 40px;
  line-height: 30px;
}

#chart {
  text-align: left;
  box-shadow: 1px 1px;
  margin-top:0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: ivory;
}

.logo{
  height:40px;
  width:40px;
  display:inline-block;
}

.one{
  float:left;
  margin-left:15px;
}

.two{
  float:right;
  margin-right: 15px;
}

footer{
  padding-top:10px;
  padding-bottom: 10px;
}
footer h3{
  margin:0;
}

h1{
  display:inline-block;
  margin-left:0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Rufina', serif;
}

h2,h3{
  font-family: 'Rufina', serif;
}

.me img{
  height:300px;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  object-fit: cover;
}

.me{
  box-sizing: border-box;
  height:500px;
  background: #1a1a1a;
 /* border:ivory solid 2px;*/
  padding-top: 100px;
  padding-bottom: 100px;
}

.date{
  background-image:url("https://github.com/camerondodd/capstone1/raw/master/screenshot_openingpage.jpg");
  background-position:center;
}

.retro{
  background-image:url('https://github.com/camerondodd/My8BitSelf/raw/master/public/screenshots/homeSS.jpg');
  background-position:center;
}

.analysis{
  background-image:url('https://github.com/camerondodd/capstone3/raw/master/public/screenshots/analysis-finder.jpg');
  background-position:center;
}

.parallax{
  height:700px;
/*  background-attachment:fixed;*/
  background-repeat:no-repeat;
  background-size:cover;
  box-sizing:border-box;
}

.info{
  padding-right:15px;
  padding-left:15px;
  box-sizing:border-box;
  height:700px;
  background:#1a1a1a;
  color:ivory;
  text-align: center;
  vertical-align: middle;
}
.spacer{
  margin-top: 20%;
  margin-bottom: 25%;
  padding-left:10px;
  padding-right:10px;
}
.infoMe{
  padding-bottom: 0px;
  padding-right:15px;
  padding-left:15px;
  box-sizing:border-box;
  height:500px;
  background:#1a1a1a;
  color:ivory;
  text-align: center;
}

.infoDate{
  padding-top: 10%;
}

.infoRetro{
  padding-top:1%;
}

.infoAnalysis{
  padding-top:8%;
}

.clear{
  clear:both;
}

.right{
  box-sizing: border-box;
  float:right;
  width: 50%
}

.left{
  box-sizing: border-box;
  float:left;
  width:50%;
}

.btn{
  text-decoration:none;
  background-color: rgb(59,140,37);
  /*border:white groove 4px;*/
  box-shadow: 1px 1px;
  color:black;
  font-weight: bold;
  padding:10px;
  margin-top: 20px;
  margin-left:5%;
  margin-right:5%;
  width: 20%;
  display:inline-block;
}

.btn:hover{
  background-color: ivory;
}

.contact{
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-weight: bolder;
}

.contact:hover{
  color:white;
}

#otherChart{
  display:none;
}

@media only screen and (max-width: 680px){
  .logo{
    display:none;
  }
  h1{
    margin-top: 5px;
  }
}
@media only screen and (max-width:800px){
  .left, .right{
    float:right;
    width:100%;
  }
  .info{
    height:auto;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .me{
    height:400px;
    padding-bottom: 0;
  }
  .infoMe{
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
    height:auto;
  }
  .chartContainer{
    box-sizing: border-box;
    padding:10px;
  }
}
@media only screen and (max-width:535px){
  #chart{
    display:none;
  }
  .chartContainer{
    width:100%;
  }
  #otherChart{
    display:block;
    text-align: center;
    color:ivory;
  }
}