body, html{
  height:100%;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

a,p{
  line-height: 21px;
  font-size: 17px;
  font-family: 'PT Serif', serif;
}

header, footer{
  background: rgb(180,227,145); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer{
  padding-top:10px;
  padding-bottom: 25px;
}

h1{
  margin:0;
  font-family: 'Rufina', serif;
}

h2,h3{
  font-family: 'Rufina', serif;
}

.me img{
  height:300px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.me{
  background:black;
  padding-top: 100px;
  padding-bottom: 100px;
}

.date{
  background-image:url("https://github.com/camerondodd/capstone1/raw/master/screenshot_openingpage.jpg");
  background-position:center;
}

.retro{
  background-image:url('https://github.com/camerondodd/My8BitSelf/raw/master/public/screenshots/homeSS.jpg');
  background-position:center;
}

.analysis{
  background-image:url('https://github.com/camerondodd/capstone3/raw/master/public/screenshots/analysis-finder.jpg');
  background-position:center;
}

.parallax{
  height:700px;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  box-sizing:border-box;
}

.info{
  padding-right:15px;
  padding-left:15px;
  box-sizing:border-box;
  height:700px;
  background:black;
  color:white;
  text-align: center;
  vertical-align: middle;
}
.spacer{
  margin-top: 20%;
  margin-bottom: 25%;
  padding-left:10px;
  padding-right:10px;
}
.infoMe{
  padding-bottom: 0px;
  padding-right:15px;
  padding-left:15px;
  box-sizing:border-box;
  height:500px;
  background:black;
  color:white;
  text-align: center;
}

.infoDate{
  padding-top: 10%;
}

.infoRetro{
  padding-top:1%;
}

.infoAnalysis{
  padding-top:8%;
}

.clear{
  clear:both;
}

.right{
  box-sizing: border-box;
  float:right;
  width: 50%
}

.left{
  box-sizing: border-box;
  float:left;
  width:50%;
}

.btn{
  text-decoration:none;
  background: rgb(157,213,58); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
  border-style: groove;
  border:white solid 2px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px;
  color:black;
  font-weight: bold;
  padding:10px;
  margin-top: 20px;
  margin-left:5%;
  margin-right:5%;
  width: 20%;
  display:inline-block;
}

.btn:hover{
  background: rgb(124,188,10); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(124,188,10,1) 0%, rgba(128,194,23,1) 49%, rgba(161,213,79,1) 50%, rgba(157,213,58,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(124,188,10,1) 0%,rgba(128,194,23,1) 49%,rgba(161,213,79,1) 50%,rgba(157,213,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(124,188,10,1) 0%,rgba(128,194,23,1) 49%,rgba(161,213,79,1) 50%,rgba(157,213,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#9dd53a',GradientType=0 ); /* IE6-9 */
  color:white;
}

.contact{
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-weight: bolder;
}

.contact:hover{
  color:white;
}

@media only screen and (max-width:400px){
  .left, .right{
    float:right;
    width:100%;
  }
  
  .infoMe{
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
  }
}